# Python
*.pyc
__pycache__/
venv/
.venv/
*.env

# VSCode
.vscode/
.settings/

# IDE
.idea/
*.iml

# Logs
*.log

# Compiled files
*.pyc
*.pyo
*.pyd

# Build files
build/
dist/
*.egg-info/

# Virtual environment
env/

# data/
